[submodule "drupal/modules/ambientimpact"]
	path = drupal/modules/ambientimpact
	url = git@gitlab.com:Ambient.Impact/drupal-modules.git
[submodule "drupal/themes/ambientimpact"]
	path = drupal/themes/ambientimpact
	url = git@gitlab.com:Ambient.Impact/drupal-themes.git
[submodule "drupal/modules/omnipedia"]
	path = drupal/modules/omnipedia
	url = git@gitlab.com:neurocracy/omnipedia/drupal-modules.git
[submodule "drupal/themes/omnipedia"]
	path = drupal/themes/omnipedia
	url = git@gitlab.com:neurocracy/omnipedia/drupal-themes.git
