# Opinionated Drupal ignore patterns for local development using Composer and
# DDEV.
#
# @see https://git-scm.com/docs/gitignore

# Ignore .env file in the DDEV directory. Used for sensitive credentials on dev.
#
# @see https://ddev.readthedocs.io/en/latest/users/extend/customization-extendibility/#providing-custom-environment-variables-to-a-container
/.ddev/.env

# Yarn cache and Plug-n-Play files. If we decide to switch over to the Yarn
# zero-installs philosophy, these rules will need adjusting:
#
# @see https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
#
# @see https://yarnpkg.com/features/zero-installs
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Yarn logs.
yarn-error.log
yarn.build-error.log

# These are pulled in by the Drupal scaffold.
/.gitattributes
/.editorconfig

# Ignore the storage directory. This is used for compiled Twig templates and
# other PHP storage.
#
# @see \Drupal\Core\PhpStorage\PhpStorageFactory
/storage

# Ignore the root vendor directory as that's managed via Composer.
/vendor

# Ignore generated Drupal config directory .htaccess files.
/drupal_config/*/.htaccess
/drupal_config/splits/*/.htaccess

# Ignore Drupal private files directory.
/drupal_private_files/*

/drupal/*
!/drupal/assets
!/drupal/modules
!/drupal/profiles
!/drupal/sites
!/drupal/themes

/drupal/assets/*

/drupal/modules/contrib
/drupal/modules/README.txt

/drupal/profiles/contrib
/drupal/profiles/README.txt

/drupal/sites/default/default.services.yml
/drupal/sites/default/default.settings.php
/drupal/sites/development.services.yml
/drupal/sites/example.*.php
/drupal/sites/README.txt

/drupal/sites/**/files/*
/drupal/sites/**/settings.*.php

/drupal/themes/contrib
/drupal/themes/README.txt

# Custom Drupal extensions (modules, profiles, themes) should be referenced as
# custom Composer repositories and installed with --prefer-source if version
# control is required, i.e. they're being actively developed.
/drupal/modules/custom/*
/drupal/profiles/custom/*
/drupal/themes/custom/*

# Testing directories and files.
test.sqlite
test.sqlite-shm
test.sqlite-wal
/drupal/sites/simpletest

# Always allow .gitkeep files which are commonly used to allow directories that
# otherwise have no other files under version control to be deployed via Git.
# Note that this must be placed after any exclude rules to take effect.
!.gitkeep

# @todo Remove when fully migrated to DigitalOcean App Platform.
sftp-config.json
