# Opinionated Drupal ignore patterns for local development using Composer and
# DDEV.
#
# @see https://git-scm.com/docs/gitignore

# Ignore .env file in the DDEV directory. Used for sensitive credentials on dev.
#
# @see https://ddev.readthedocs.io/en/latest/users/extend/customization-extendibility/#providing-custom-environment-variables-to-a-container
/.ddev/.env

# Yarn cache and Plug-n-Play files. If we decide to switch over to the Yarn
# zero-installs philosophy, these rules will need adjusting:
#
# @see https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
#
# @see https://yarnpkg.com/features/zero-installs
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Yarn logs.
yarn-error.log
yarn.build-error.log

# These are pulled in by the Drupal scaffold.
/.gitattributes
/.editorconfig

# Ignore the storage directory. This is used for compiled Twig templates and
# other PHP storage.
#
# @see \Drupal\Core\PhpStorage\PhpStorageFactory
/storage

# Ignore the root vendor directory as that's managed via Composer.
/vendor

# Ignore generated Drupal config directory .htaccess files.
/drupal_config/*/.htaccess
/drupal_config/splits/*/.htaccess

# Ignore Drupal private files directory.
/drupal_private_files/*

/web/*
!/web/assets
!/web/modules
!/web/profiles
!/web/sites
!/web/themes

/web/assets/*

/web/modules/contrib
/web/modules/README.txt

/web/profiles/contrib
/web/profiles/README.txt

/web/sites/default/default.services.yml
/web/sites/default/default.settings.php
/web/sites/development.services.yml
/web/sites/example.*.php
/web/sites/README.txt

/web/sites/**/files/*
/web/sites/**/settings.*.php

/web/themes/contrib
/web/themes/README.txt

# Custom Drupal extensions (modules, profiles, themes) should be referenced as
# custom Composer repositories and installed with --prefer-source if version
# control is required, i.e. they're being actively developed.
/web/modules/custom/*
/web/profiles/custom/*
/web/themes/custom/*

# Testing directories and files.
test.sqlite
test.sqlite-shm
test.sqlite-wal
/web/sites/simpletest
/phpunit-results.xml
# @see https://davidllop.com/posts/identifying-the-slowest-tests-in-phpunit
/phpunit-results.csv

# Always allow .gitkeep files which are commonly used to allow directories that
# otherwise have no other files under version control to be deployed via Git.
# Note that this must be placed after any exclude rules to take effect.
!.gitkeep
