[submodule "drupal/modules/ambientimpact"]
	path = drupal/modules/ambientimpact
	url = https://github.com/Ambient-Impact/drupal-modules.git
[submodule "drupal/themes/ambientimpact"]
	path = drupal/themes/ambientimpact
	url = https://github.com/Ambient-Impact/drupal-themes.git
