<?xml version="1.0" encoding="UTF-8"?>
<!-- For how to customize PHPUnit configuration, see core/tests/README.md. -->
<!-- TODO set checkForUnintentionallyCoveredCode="true" once https://www.drupal.org/node/2626832 is resolved. -->
<!-- PHPUnit expects functional tests to be run with either a privileged user
 or your current system user. See core/tests/README.md and
 https://www.drupal.org/node/2116263 for details.
-->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="web/core/tests/bootstrap.php"
         colors="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutChangesToGlobalState="true"
         failOnRisky="true"
         failOnWarning="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         cacheResult="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         cacheDirectory=".phpunit.cache">
  <php>
    <!-- Set error reporting to E_ALL. -->
    <ini name="error_reporting" value="32767"/>
    <!-- Do not limit the amount of memory tests take to run. -->
    <ini name="memory_limit" value="-1"/>
    <!-- Example SIMPLETEST_BASE_URL value: http://localhost -->
    <env name="SIMPLETEST_BASE_URL" value=""/>
    <!-- Example SIMPLETEST_DB value: mysql://username:password@localhost/databasename#table_prefix -->
    <env name="SIMPLETEST_DB" value=""/>
    <!-- Example BROWSERTEST_OUTPUT_DIRECTORY value: /path/to/webroot/sites/simpletest/browser_output -->
    <env name="BROWSERTEST_OUTPUT_DIRECTORY" value=""/>
    <!-- By default, browser tests will output links that use the base URL set
     in SIMPLETEST_BASE_URL. However, if your SIMPLETEST_BASE_URL is an internal
     path (such as may be the case in a virtual or Docker-based environment),
     you can set the base URL used in the browser test output links to something
     reachable from your host machine here. This will allow you to follow them
     directly and view the output. -->
    <env name="BROWSERTEST_OUTPUT_BASE_URL" value=""/>

    <!-- Deprecation testing is managed through Symfony's PHPUnit Bridge.
      The environment variable SYMFONY_DEPRECATIONS_HELPER is used to configure
      the behaviour of the deprecation tests.
      See https://symfony.com/doc/current/components/phpunit_bridge.html#configuration
      Drupal core's testing framework is setting this variable to its defaults.
      Projects with their own requirements need to manage this variable
      explicitly.
    -->
    <!-- To disable deprecation testing completely uncomment the next line. -->
    <env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled"/>
    <!-- Deprecation errors can be selectively ignored by specifying a file of
      regular expression patterns for exclusion.
      See https://symfony.com/doc/current/components/phpunit_bridge.html#ignoring-deprecations
      Uncomment the line below to specify a custom deprecations ignore file.
      NOTE: it may be required to specify the full path to the file to run tests
      correctly.
    -->
    <!-- <env name="SYMFONY_DEPRECATIONS_HELPER" value="ignoreFile=.deprecation-ignore.txt"/> -->

    <!-- Example for changing the driver class for mink tests MINK_DRIVER_CLASS value: 'Drupal\FunctionalJavascriptTests\DrupalSelenium2Driver' -->
    <env name="MINK_DRIVER_CLASS" value=''/>
    <!-- Example for changing the driver args to mink tests MINK_DRIVER_ARGS value: '["http://127.0.0.1:8510"]' -->
    <env name="MINK_DRIVER_ARGS" value=''/>
    <!-- Example for changing the driver args to webdriver tests MINK_DRIVER_ARGS_WEBDRIVER value: '["chrome", { "chromeOptions": { "w3c": false } }, "http://localhost:4444/wd/hub"]' For using the Firefox browser, replace "chrome" with "firefox" -->
    <env name="MINK_DRIVER_ARGS_WEBDRIVER" value=''/>
  </php>
  <testsuites>
    <testsuite name="unit-component">
      <directory>web/core/tests/Drupal/Tests/Component</directory>
    </testsuite>
    <testsuite name="unit">
      <directory>web/core/tests/Drupal/Tests</directory>
      <exclude>web/core/tests/Drupal/Tests/Component</exclude>
      <directory>web/core/modules/**/tests/src/Unit</directory>
      <directory>web/core/profiles/**/tests/src/Unit</directory>
      <directory>web/core/themes/**/tests/src/Unit</directory>
      <directory>web/modules/*/**/tests/src/Unit</directory>
      <directory>web/profiles/*/**/tests/src/Unit</directory>
      <directory>web/themes/*/**/tests/src/Unit</directory>
    </testsuite>
    <testsuite name="kernel">
      <directory>web/core/tests/Drupal/KernelTests</directory>
      <directory>web/core/modules/**/tests/src/Kernel</directory>
      <directory>web/core/recipes/*/tests/src/Kernel</directory>
      <directory>web/core/profiles/**/tests/src/Kernel</directory>
      <directory>web/core/themes/**/tests/src/Kernel</directory>
      <directory>web/modules/*/**/tests/src/Kernel</directory>
      <directory>web/profiles/*/**/tests/src/Kernel</directory>
      <directory>web/themes/*/**/tests/src/Kernel</directory>
    </testsuite>
    <testsuite name="functional">
      <directory>web/core/tests/Drupal/FunctionalTests</directory>
      <directory>web/core/modules/**/tests/src/Functional</directory>
      <directory>web/core/profiles/**/tests/src/Functional</directory>
      <directory>web/core/recipes/*/tests/src/Functional</directory>
      <directory>web/core/themes/**/tests/src/Functional</directory>
      <directory>web/modules/*/**/tests/src/Functional</directory>
      <directory>web/profiles/*/**/tests/src/Functional</directory>
      <directory>web/themes/*/**/tests/src/Functional</directory>
    </testsuite>
    <testsuite name="functional-javascript">
      <directory>web/core/tests/Drupal/FunctionalJavascriptTests</directory>
      <directory>web/core/modules/**/tests/src/FunctionalJavascript</directory>
      <directory>web/core/recipes/*/tests/src/FunctionalJavascript</directory>
      <directory>web/core/profiles/**/tests/src/FunctionalJavascript</directory>
      <directory>web/core/themes/**/tests/src/FunctionalJavascript</directory>
      <directory>web/modules/*/**/tests/src/FunctionalJavascript</directory>
      <directory>web/profiles/*/**/tests/src/FunctionalJavascript</directory>
      <directory>web/themes/*/**/tests/src/FunctionalJavascript</directory>
    </testsuite>
    <testsuite name="build">
      <directory>web/core/tests/Drupal/BuildTests</directory>
      <directory>web/core/modules/**/tests/src/Build</directory>
      <directory>web/modules/*/**/tests/src/Build</directory>
    </testsuite>
  </testsuites>
  <!-- Settings for coverage reports. -->
  <source ignoreSuppressionOfDeprecations="true">
    <include>
      <directory>web/core/includes</directory>
      <directory>web/core/lib</directory>
      <directory>web/core/modules</directory>
      <directory>web/modules</directory>
      <directory>web/sites</directory>
    </include>
    <exclude>
      <directory>web/core/lib/Drupal/Component</directory>
      <directory>web/core/modules/*/src/Tests</directory>
      <directory>web/core/modules/*/tests</directory>
      <directory>web/modules/*/src/Tests</directory>
      <directory>web/modules/*/tests</directory>
      <directory>web/modules/*/*/src/Tests</directory>
      <directory>web/modules/*/*/tests</directory>
    </exclude>
  </source>
  <logging>
    <!-- Note that this is relative to the web root and not the root of the
         repository. -->
    <junit outputFile="../phpunit-results.xml"/>
  </logging>
  <extensions>
    <!-- Functional tests HTML output logging. -->
    <bootstrap class="Drupal\TestTools\Extension\HtmlLogging\HtmlOutputLogger">
      <!-- The directory where the browser output will be stored. If a relative
        path is specified, it will be relative to the current working directory
        of the process running the PHPUnit CLI. In CI environments, this can be
        overridden by the value set for the "BROWSERTEST_OUTPUT_DIRECTORY"
        environment variable.
      -->
      <parameter name="outputDirectory" value="sites/simpletest/browser_output"/>
      <!-- By default browser tests print the individual links in the test run
        report. To avoid overcrowding the output in CI environments, you can
        set the "verbose" parameter or the "BROWSERTEST_OUTPUT_VERBOSE"
        environment variable to "false". In GitLabCI, the output is saved
        anyway as an artifact that can be browsed or downloaded from Gitlab.
      -->
      <parameter name="verbose" value="true"/>
    </bootstrap>
    <!-- Debug dump() printer. -->
    <bootstrap class="Drupal\TestTools\Extension\Dump\DebugDump">
      <parameter name="colors" value="true"/>
      <parameter name="printCaller" value="true"/>
    </bootstrap>
    <!--
      Output test run times to identify slow tests.

      @see https://davidllop.com/posts/identifying-the-slowest-tests-in-phpunit
      @see https://github.com/lloople/phpunit-extensions
    -->
    <!-- Note: disabled in PHPUnit 10+ as it currently doesn't work. -->
    <!-- <extension class="Lloople\PHPUnitExtensions\Runners\SlowestTests\Csv">
      <arguments> -->
        <!--
          Note that this is relative to the web root and not the root of the
          repository.
        -->
        <!-- <string>../phpunit-results.csv</string>
      </arguments>
    </extension> -->
  </extensions>
</phpunit>
