# Unignore our settings.php, as it's stripped down and does not contain database
# info or other sensitive data, but includes them from external files or
# environment variables.
!settings.php

# Unignore version-controlled services files.
!services.monolog.yml
!services.routing.yml
!services.security.yml
